# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.obj
*.pch
*.pdb
*.sdf
*.ilk
*.tlog
*.log
*.ipch
*.idb
*.opensdf
New Project/tron_prj.opensdf
*.exe
New Project/tron_prj.v12.suo
*.suo